 <b> 3. Import the required packages <b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<b> 4. Use the magic command so that your plots show in the notebook without having to call --- every time. <b>

In [2]:
%matplotlib inline

<b>5. Using pandas method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.<b>

In [3]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
print(gdp_df[:7])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

<b>6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.<b>

In [4]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
print(internet_df[:7])

  Country or Area  Year     Value  Value Footnotes  Unnamed: 4  Unnamed: 5
0     Afghanistan  2014  6.390000              NaN         NaN         NaN
1     Afghanistan  2013  5.900000              NaN         NaN         NaN
2     Afghanistan  2012  5.454545              NaN         NaN         NaN
3     Afghanistan  2011  5.000000              NaN         NaN         NaN
4     Afghanistan  2010  4.000000              NaN         NaN         NaN
5     Afghanistan  2009  3.550000              NaN         NaN         NaN
6     Afghanistan  2008  1.840000              NaN         NaN         NaN

<b>7. Look at the shape of each DataFrame - how many rows? How many columns?<b>

FOR gdp_df: (all together dataframe)
ROWS = 6869
COLUMNS = 4

FOR gdp_df: (first 6 dataframe)
ROWS: 10 with values, 11 all together
COLUMNS:4

FOR internet_df: (all together dataframe)
ROWS: 4496
COLUMNS: 6

FOR internet_df: (frist 6 dataframe)
ROWS: 10 with values, 11 all together
COLUMNS: 6

<b> 8.Take a look at the datatypes for the columns in each DataFrame. <b>

In [5]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [6]:
internet_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
Unnamed: 4         float64
Unnamed: 5         float64
dtype: object


<b>9. Take a look at the last 10 rows of each DataFrame in turn. <b>

In [7]:
print(gdp_df[-10:])

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [8]:
print(internet_df[-10:])

     Country or Area  Year     Value  Value Footnotes  Unnamed: 4  Unnamed: 5
4485        Zimbabwe  2002  3.994356              NaN         NaN         NaN
4486        Zimbabwe  2001  0.799846              NaN         NaN         NaN
4487        Zimbabwe  2000  0.401434              NaN         NaN         NaN
4488        Zimbabwe  1999  0.161676              NaN         NaN         NaN
4489        Zimbabwe  1998  0.081648              NaN         NaN         NaN
4490        Zimbabwe  1997  0.033080              NaN         NaN         NaN
4491        Zimbabwe  1996  0.016790              NaN         NaN         NaN
4492        Zimbabwe  1995  0.007684              NaN         NaN         NaN
4493        Zimbabwe  1994  0.001739              NaN         NaN         NaN
4494        Zimbabwe  1990  0.000000              NaN         NaN         NaN

<b> 10. Drop the value footnotes column from both DataFrames. Check that this worked as expected. <b>

In [9]:
gdp_df1 = gdp_df.drop(columns=['Value Footnotes'])

In [10]:
internet_df1 = internet_df.drop(columns=['Value Footnotes'])

<b> 11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’. <b>

In [11]:
gdp_df1 = gdp_df1.rename(columns = {'Country or Area':'Country', 'Value':'GDP_Per_Capita'})

<b> 12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’. <b>

In [12]:
internet_df1 = internet_df1.rename(columns = {'Country or Area':'Country', 'Value':'Internet_Users_Pct'})

<b> 13. Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use. <b>

In [13]:
gdp_and_internet_use = pd.merge(gdp_df1, internet_df1, on=['Country', 'Year'], how='outer')
print(gdp_and_internet_use)

          Country  Year  GDP_Per_Capita  Internet_Users_Pct  Unnamed: 4  \
0     Afghanistan  2019     2065.036398                 NaN         NaN
1     Afghanistan  2018     2033.779002                 NaN         NaN
2     Afghanistan  2017     2058.383832                 NaN         NaN
3     Afghanistan  2016     2057.062164                 NaN         NaN
4     Afghanistan  2015     2068.265904                 NaN         NaN
...           ...   ...             ...                 ...         ...
7900        Yemen  1999             NaN            0.056629         NaN
7901        Yemen  1998             NaN            0.023323         NaN
7902        Yemen  1997             NaN            0.015025         NaN
7903        Yemen  1996             NaN            0.000621         NaN
7904        Yemen  1990             NaN            0.000000         NaN

      Unnamed: 5
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
7900         NaN
7901         NaN
7902         NaN
7903         NaN
7904         NaN

[7905 rows x 6 columns]

<b> 14. Look at the first five rows of your new DataFrame to confirm it merged correctly.<b>

<b>15. Look at the last five rows to make sure the data is clean and as expected.<b>

<b> 16. Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly. <b>

In [14]:
gdp_and_internet_use = gdp_and_internet_use[gdp_and_internet_use["Year"].isin([2004,2009,2014])]
print(gdp_and_internet_use)

                    Country  Year  GDP_Per_Capita  Internet_Users_Pct  \
5               Afghanistan  2014     2102.385234            6.390000
10              Afghanistan  2009     1758.904043            3.550000
15              Afghanistan  2004     1200.278256            0.105809
23                  Albania  2014    11623.866680           60.100000
28                  Albania  2009    10346.864200           41.200000
...                     ...   ...             ...                 ...
7868  Virgin Islands (U.S.)  2009             NaN           27.396510
7873  Virgin Islands (U.S.)  2004             NaN           27.377009
7885                  Yemen  2014             NaN           22.550000
7890                  Yemen  2009             NaN            9.960000
7895                  Yemen  2004             NaN            0.881223

      Unnamed: 4  Unnamed: 5
5            NaN         NaN
10           NaN         NaN
15           NaN         NaN
23           NaN         NaN
28           NaN         NaN
...          ...         ...
7868         NaN         NaN
7873         NaN         NaN
7885         NaN         NaN
7890         NaN         NaN
7895         NaN         NaN

[830 rows x 6 columns]

<b> 17. Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.<b>

In [15]:
gdp_and_internet_use2004 = gdp_and_internet_use[gdp_and_internet_use["Year"].isin([2004])] 
print(gdp_and_internet_use2004)

                    Country  Year  GDP_Per_Capita  Internet_Users_Pct  \
15              Afghanistan  2004     1200.278256            0.105809
33                  Albania  2004     7604.838002            2.420388
63                  Algeria  2004    10058.435940            4.634475
93                   Angola  2004     5593.241537            0.464815
123     Antigua and Barbuda  2004    18745.681530           24.266544
...                     ...   ...             ...                 ...
7771     T.F.Y.R. Macedonia  2004             NaN           24.440000
7829              Venezuela  2004             NaN            8.404470
7853               Viet Nam  2004             NaN            7.642409
7873  Virgin Islands (U.S.)  2004             NaN           27.377009
7895                  Yemen  2004             NaN            0.881223

      Unnamed: 4  Unnamed: 5
15           NaN         NaN
33           NaN         NaN
63           NaN         NaN
93           NaN         NaN
123          NaN         NaN
...          ...         ...
7771         NaN         NaN
7829         NaN         NaN
7853         NaN         NaN
7873         NaN         NaN
7895         NaN         NaN

[276 rows x 6 columns]

In [16]:
gdp_and_internet_use2009 = gdp_and_internet_use[gdp_and_internet_use["Year"].isin([2009])] 
print(gdp_and_internet_use2009)

                    Country  Year  GDP_Per_Capita  Internet_Users_Pct  \
10              Afghanistan  2009     1758.904043             3.55000
28                  Albania  2009    10346.864200            41.20000
58                  Algeria  2009    10782.361400            11.23000
88                   Angola  2009     7643.493749             6.00000
118     Antigua and Barbuda  2009    20046.839020            42.00000
...                     ...   ...             ...                 ...
7766     T.F.Y.R. Macedonia  2009             NaN            51.77000
7824              Venezuela  2009             NaN            32.70000
7848               Viet Nam  2009             NaN            26.55000
7868  Virgin Islands (U.S.)  2009             NaN            27.39651
7890                  Yemen  2009             NaN             9.96000

      Unnamed: 4  Unnamed: 5
10           NaN         NaN
28           NaN         NaN
58           NaN         NaN
88           NaN         NaN
118          NaN         NaN
...          ...         ...
7766         NaN         NaN
7824         NaN         NaN
7848         NaN         NaN
7868         NaN         NaN
7890         NaN         NaN

[277 rows x 6 columns]

In [17]:
gdp_and_internet_use2014 = gdp_and_internet_use[gdp_and_internet_use["Year"].isin([2014])] 
print(gdp_and_internet_use2014)

                    Country  Year  GDP_Per_Capita  Internet_Users_Pct  \
5               Afghanistan  2014     2102.385234                6.39
23                  Albania  2014    11623.866680               60.10
53                  Algeria  2014    11512.705410               18.09
83                   Angola  2014     8239.828837               21.26
113     Antigua and Barbuda  2014    18104.241470               64.00
...                     ...   ...             ...                 ...
7761     T.F.Y.R. Macedonia  2014             NaN               68.06
7819              Venezuela  2014             NaN               57.00
7843               Viet Nam  2014             NaN               48.31
7863  Virgin Islands (U.S.)  2014             NaN               50.07
7885                  Yemen  2014             NaN               22.55

      Unnamed: 4  Unnamed: 5
5            NaN         NaN
23           NaN         NaN
53           NaN         NaN
83           NaN         NaN
113          NaN         NaN
...          ...         ...
7761         NaN         NaN
7819         NaN         NaN
7843         NaN         NaN
7863         NaN         NaN
7885         NaN         NaN

[277 rows x 6 columns]

<b> 18. Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options). --need to come back to this one, shoud be Iceland<b>

In [29]:
gdp_and_internet_use2014 = gdp_and_internet_use2014.sort_values('Internet_Users_Pct').groupby('Country').tail(1)
print(gdp_and_internet_use2014.max())

Country                  Zimbabwe
Year                         2014
GDP_Per_Capita        156514.1338
Internet_Users_Pct          98.16
Unnamed: 4                    NaN
Unnamed: 5                    NaN
dtype: object